backend/src/main/resources/wsdl/categoria.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copia del contrato de categorias-soap-service. El monolito lo usa como CLIENTE SOAP
     (genera las clases JAXB del request/response). Debe mantenerse en sync con el del micro. -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://krypton.com/soap/categorias"
    xmlns:tns="http://krypton.com/soap/categorias"
    elementFormDefault="qualified">

    <xsd:complexType name="categoria">
        <xsd:sequence>
            <xsd:element name="id"          type="xsd:long"/>
            <xsd:element name="nombre"      type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:element name="getCategoriasRequest"><xsd:complexType/></xsd:element>
    <xsd:element name="getCategoriasResponse">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="lista" type="tns:categoria" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>

    <xsd:element name="postCategoriaRequest">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="categoria" type="tns:categoria"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>
    <xsd:element name="postCategoriaResponse">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="salida" type="xsd:long"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>

    <xsd:element name="putCategoriaRequest">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="categoria" type="tns:categoria"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>
    <xsd:element name="putCategoriaResponse">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="salida" type="xsd:int"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>

    <xsd:element name="deleteCategoriaRequest">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>
    <xsd:element name="deleteCategoriaResponse">
        <xsd:complexType><xsd:sequence>
            <xsd:element name="salida" type="xsd:int"/>
        </xsd:sequence></xsd:complexType>
    </xsd:element>
</xsd:schema>
